<extend name="Public:base"/>

<block name="body">
	<div class="main-title">
		<h2>修改分类</h2>
	</div>
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">修 改</a></li>
		</ul>
		<div class="tab-content">
			<form action="{:U("Config/modify")}" method="post" class="form-horizontal">
				<input type="text" name="type" style="display:none" class="text input-large" value="department">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1"> 
					<div class="form-item">
						<label class="item-label">分类名称<span class="check-tips">（名称不能为空）</span></label>
						<div class="controls">
							<input type="text" name="title" class="text input-large" value="{$category['title']|default='无'}"/>
						</div>
					</div> 
					<div class="form-item">
						<label class="item-label">
							联系方式一<span class="check-tips"></span>
						</label>
						<div class="controls">
							<input type="text" name="tel_phone1" class="text input-large" value="{$category['tel_phone1']|default=''}">
						</div>
					</div>
					<div class="form-item">
						<label class="item-label">
							联系方式二<span class="check-tips"></span>
						</label>
						<div class="controls">
							<input type="text" name="tel_phone2" class="text input-large" value="{$category['tel_phone2']|default=''}">
						</div>
					</div>
				</div>
				<div class="form-item">
					<input type="hidden" name="id" value="{$category['id']|default=''}">
					<input type="hidden" name="pid" value="{:isset($category['pid'])?$category['pid']:$info['pid']}">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript">
		<present name="info.id">
		Think.setValue("allow_publish", {$info.allow_publish|default=1});
		Think.setValue("check", {$info.check|default=0});
		Think.setValue("model[]", {$info.model|json_encode} || [1]);
		Think.setValue("type[]", {$info.type|json_encode} || [2]);
		Think.setValue("display", {$info.display|default=1});
		Think.setValue("reply", {$info.reply|default=0});
		Think.setValue("reply_model[]", {$info.reply_model|json_encode} || [1]);
		</present>
		$(function(){
			showTab();
			$("input[name=reply]").change(function(){
				var $reply = $(".form-item.reply");
				parseInt(this.value) ? $reply.show() : $reply.hide();
			}).filter(":checked").change();
		});
		//导航高亮
		highlight_subnav('{:U('Config/Department')}');
	</script>
</block>
