<extend name="Public/base"/>
    <block name="body">
        <div class="data-table table-striped">
        	<table class="">
                <thead>
                    <tr>
            		<th class="">ID</th>
            		<th class="">用户名</th>
            		<th class="">真实姓名</th>
            		<th class="">员工号</th>
            		<th class="">身份证号</th>
            		<th class="">家庭住址</th>
            		<th class="">职位</th>
                    <th class="">操作</th>
            		</tr>
                </thead>
                <tbody>
                    <foreach name="user" item="v">  
                        <tr>
                        <td>{$v.id}</td>
                        <td>{$v.username}</td>
                        <td>{$v.realname}</td>
                        <td>{$v.workid}</td>
                        <td>{$v.idcardnum}</td>
                        <td>{$v.address}</td>
                        <td>{$v.position}</td>
                        <td name={$id=$v.id}>
                        <a href="{:U('/UserManage/ModifyUser',array("id"=>$id))}">修改</a> |
                        <a href="{:U('/UserManage/DelUser',array("id"=>$id))}">删除</a> |
                        <a href="{:U('/UserManage/ResetPassword',array("id"=>$id))}">修改密码</a>
                        </td> 
                        </tr>
                    </foreach>
            	</tbody>
            </table>
        </div>
    </block>