<extend name="Base/base" />
<block name="content">
    <!-- 预约 -->
    <div class="reservation">
        <div class="inputRedervation">
            <form class="form-inline" id="book_info">
                <!--input type="text" placeholder="预约日期" id="RVday"-->
                <input type="text" class="time-start" id="RVday" name="RVday" placeholder="请输入查询日期" required />
                <!-- <input type="text" placeholder="预约时间" id="RVtime" name="RVtime" required /> -->
                <select class="orderTime" name="bookHour">
                    <optgroup label="">
                        <option selected="true">预约时</option>
                    </optgroup>
                    <optgroup label="上午">
                        <option class="Rdefault"value="7" >07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </optgroup>
                    <optgroup label="下午">
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                    </optgroup>
                    <optgroup label="晚上">
                        <option value="19">19</option>
                        <option value="20">20</option>                                          
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="00">00</option>
                    </optgroup>
                    <optgroup label="午夜">
                        <option value="1">01</option>
                        <option value="2">02</option>                                          
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                    </optgroup>
                </select>：
                <select class="orderTime" name="bookMinute">
                    <option selected="true">预定分</option>
                    <option value="00">00</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <input type="text" placeholder="预约人数" id="RVnum" name="RVnum" />
                <input type="text" placeholder="客户姓名" id="RVdname" name="RVdname" />
                <input type="text" placeholder="客户电话" id="RVtel" name="RVtel" />
                <!-- <input type="text" placeholder="预约餐台" id="RVtable" name="RVtable"/> -->

                <select class="orderTable" name="RVtable"> 
                    <volist name="tableTree" id="cate">
                        <optgroup label="{$cate.title}">
                            <volist name="cate.table" id="val">
                                <option value="{$val.tableId}" selected="{$val.checked}">{$val.tableName}</option> 
                            </volist>
                        </optgroup>
                    </volist>
                </select>
                <input type="text" placeholder="预约要求" id="RVdemand" name="RVdemand" />
                <a href="javascript:;" class="btn btn-success" id="RVsubmit" url="{:U('book/makeBook')}" />确定</a>
                <a type="button" class="btn btn-warning" id="RVsearch" url="{:U('book/searchBook')}" />查询</a>
            </form>
        </div>
        <div>
            <table class="table table-hover abc">
                <thead>
                    <tr>
                        <th class="RVday">预约日期</th>
                        <th class="RVtime">预约时间</th>
                        <th class="RVnum">人数</th>
                        <th class="RVdname">客户姓名</th>
                        <th class="RVtel">客户手机号</th>
                        <th class="RVtable">餐台</th>
                        <th class="RVdemand">要求</th>
                        <th class="RVstatus">状态</th>
                    </tr>
                </thead>
                <tr class="mytr">
                    <td>2014-01-02</td>
                    <td>19:06</td>
                    <td>10</td>
                    <td>张先生</td>
                    <td>17579654158</td>
                    <td>一号桌</td>
                    <td>和工人人人人人反而</td>
                    <td>
                        <button type="submit" class="btn btn-default ">取消</button>
                    </td>
                </tr>
                <tr class="mytr">
                    <td>2014-01-02</td>
                    <td>19:06</td>
                    <td>10</td>
                    <td>张先生</td>
                    <td>17579654158</td>
                    <td>一号桌</td>
                    <td>和工人人人人人反而</td>
                    <td>
                        <button type="submit" class="btn btn-default">取消</button>
                    </td>
                </tr>
            </table>
            <div class="reservationOther">
                <div class="coBorder">
                    <h4>预约未到</h4>
                    <div id="scrollDiv3">
                        <ul>
                            <li>这是公告标题的第二行</li>
                            <li>这是公告标题的第三行</li>
                            <li>这是公告标题的第四行</li>
                            <li>这是公告标题的第五行</li>
                            <li>这是公告标题的第六行</li>
                            <li>这是公告标题的第七行</li>
                            <li>这是公告标题的第八行</li>
                            <li>这是公告标题的第9行</li>
                            <li>这是公告标题的第10行</li>
                        </ul>
                    </div>
                </div>
                <div class="coBorder">
                    <h4>空置座位</h4>
                    <div id="scrollDiv4">
                        <ul>
                            <li>这是公告标题的第二行</li>
                            <li>这是公告标题的第三行</li>
                            <li>这是公告标题的第四行</li>
                            <li>这是公告标题的第五行</li>
                            <li>这是公告标题的第六行</li>
                            <li>这是公告标题的第七行</li>
                            <li>这是公告标题的第八行</li>
                            <li>这是公告标题的第9行</li>
                            <li>这是公告标题的第10行</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /预约 -->
</block>
